@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles */
.scene-container {
  position: relative;
  width: 100% !important; /* Make width responsive */
  max-width: 100% !important; /* Ensure container doesn't exceed viewport width */
  height: 100% !important;
  /* border: 2px solid red; */
  margin: 0 auto;
  overflow: hidden;
}

.scene-container canvas {
  width: 100% !important; /* Make canvas responsive */
  height: 100% !important; /* Make canvas responsive */
  display: block !important;
  /* border: 2px solid green; */
}

/* Responsive styles for medium devices */
@media only screen and (max-width: 992px) {
  .scene-container {
    width: 90% !important; /* Adjust width for medium devices */
    max-width: 90% !important;
  }
}

/* Responsive styles for small devices */
@media only screen and (max-width: 768px) {
  .scene-container {
    width: 95% !important; /* Adjust width for small devices */
    max-width: 95% !important;
  }
}
